@font-face {
    font-family: 'Grotesk';
    src: url(../assets/7NeutralGrotesk-Regular.ttf);
}


/* M O B I L E */
@media only screen and (max-width: 612px) {
    * {
        font-size: 16pt;
    }

    .navbar-left, .navbar-container{
        flex-direction: row;
        text-align: center;
    }

    .navbar-right, .navbar-right a{
        display: none;
    }

    .link-to, .footer-container, .footer-content, .footer-info p, .footer-sosmed, .footer-sosmed a, .footer-sosmed img, .footer-bottom p {
        font-size: 10pt;
    }

    .footer-content {
        flex-direction: column;
    }
}

/* D E S K T O P */

*{
    background-color: #f2f2f3;
    font-family: 'Grotesk', sans-serif;
    margin: 0;
}

/* bagian navigation bar */

.navbar-container{
    padding: 10px 10px;
    overflow: hidden;
    color: black;
    position: sticky
}

.navbar-left {
    float: left;
    font-size: 20pt;
    display: flex;
}

.navbar-name{
    text-decoration: none;
    color: black;
}

.navbar-name:hover{
    text-decoration: underline;
}

.navbar-right{
    float: right;
}

.navbar-right a{
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20pt;
    color: black;
}

.navbar-right a:hover{
    text-decoration: underline;
}

#navbar-logo{
    padding: 5px 10px 10px 10px;
    height: 20pt;
}

/* bagian content */

.parent-container{
    padding: 5px 50px;
}

#title{
    font-size: 30pt;
    padding: 20px 0;
}

.register-form{
    font-size: 15pt;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.name, .dob, .email, .pass{
    padding: 10px 0;
    border-radius: 10px;
    opacity: 0.7;
    margin-bottom: 10px;
}

.gender-container{
    margin-bottom: 10px;
}

#error-line{
    color: red;
    font-size: 14pt;
}

#submit-button{
    font-size: 15pt;
    background-color: black;
    color:#f5f5f5;
    width: 100px;
}

#submit-button:hover{
    opacity: 0.7;
}

/* bagian footer */

.footer-container {
    padding: 20px 0;
    background-color: #171716;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    padding: 0 20px;
    background-color: #171716;
    text-align: center;
}

.footer-info p {
    background-color: #171716;
    color: #f5f5f5;
    font-size: 15pt;
}

.footer-sosmed{
    background-color: #171716;
    letter-spacing: 25pt;
    padding: 15px 0;
}

.footer-sosmed a {
    background-color: #171716;
    display: inline-block;
}

.footer-sosmed img {
    background-color: #171716;
    width: 15pt;
    height: 15pt;
}

.footer-bottom {
    background-color: #171716;
    text-align: center;
}

.footer-bottom p {
    background-color: #171716 ;
    color: #454443;
    font-size: 10pt;
}